/*global*/
* {
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto Condensed', Arial, Helvetica, sans-serif;
}

body {
    background-image: url(assets/background-boosted.png);
    background-attachment: fixed;
    background-size: cover;
}
/*global*/

/*navegação*/
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 8vh;
    background-color: black;
    color: white;
}

.logo {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
    list-style-type: none;
    cursor: pointer;
}

a {
    text-decoration: none;
    color: black;
}

.nav-list li {
    margin-left: 60px;
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 10px;
    border-radius: 5px;
    transition: 0.75s;
}

.nav-list li:hover {
    color: black;
    background-color: rgb(221, 27, 27);
    padding: 10px;
    transition: 0.75s;
}

.container, .imagem1 {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.imagem1 img{
    position: absolute;
    width: 900px;
    top: 120px;
    z-index: 1;
}
/*navegação*/

/*cabeçalho*/
header .container .imagem1{
    background-image: url(/assets/gradiente-header.jfif);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 40vh;
}
/*cabeçalho*/

/*principal*/
main {
    display: flex;
    justify-content: center;
}

.card1 {
    width: 500px;
    height: 600px;
    margin-left: 100px;
    margin-right: 25px;
    margin-top: 300px;
    margin-bottom: 150px;
    border-radius: 35px;
    background-color: rgb(245, 169, 29);
    box-shadow: 0px 0px 25px 1px rgb(5, 5, 5);
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card1 .cardtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0c0908;
    color: white;
    width: 500px;
    border-radius: 30px 30px 0px 0px;
    height: 70px;
}

.card1 .card-content {
    display: flex;
    flex-direction: column;
}

.card1 .card-content .hamburguer {
    width: 500px;
}

.card1 .card-content .promotion {
    position: absolute;
    top: 1110px;
    left: 550px;
    width: 40px;
}

.card1 .card-legend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #0c0908;
    width: 480px;
    height: 170px;
    border-radius: 0px 0px 35px 35px;
    color: white;
    text-align: center;
}

.sidecards {
    display: flex;
    flex-direction: column;
}

.card2 {
    width: 500px;
    height: 280px;
    margin-top: 300px;
    margin-bottom: 40px;
    border-radius: 35px;
    background-color: rgb(245, 169, 29);
    box-shadow: 0px 0px 25px 1px rgb(5, 5, 5);

}

.card2 .cardtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0c0908;
    border-radius: 32px 32px 0px 0px;
    height: 50px;
    color: white;
} 

.card2 .card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card2 .card-content img {
    background-size: cover;
    width: 300px;
    height: 230px;
    border-radius: 0px 0px 0px 32px;
}

.card2 .card-legend {
    background-color: #0c0908;
    width: 175px;
    height: 210px;
    margin: 0 auto;
    margin-top: 12px;
    border-radius: 0px 0px 35px 0px;
    color: white;
}

.card2 .card-legend {
    display: flex;
    align-items: center;
}

.card2 p {
    margin-left: 10px;
}

.card2 .card-content .promotion {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 0px;
    margin: 10px;
}

.card3  {
    width: 500px;
    height: 280px;
    margin-bottom: 150px;
    border-radius: 35px;
    background-color: rgb(245, 169, 29);
    box-shadow: 0px 0px 25px 1px rgb(5, 5, 5);
}

.card3 .cardtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0c0908;
    border-radius: 32px 32px 0px 0px;
    height: 50px;
    color: white;
}

.card3 .card-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.card3 .card-content img {
    background-size: cover;
    width: 300px;
    height: 230px;
    border-radius: 0px 0px 0px 32px;
}

.card3 .card-legend {
    background-color: #0c0908;
    width: 175px;
    height: 210px;
    margin: 0 auto;
    margin-top: 12px;
    border-radius: 0px 0px 35px 0px;
    color: white;
}

.card3 .card-legend {
    display: flex;
    align-items: center;
}

.card3 p {
    margin-left: 10px;
}

.card4 {
    width: 650px;
    height: 600px;
    margin-left: 25px;
    margin-right: 100px;
    margin-top: 300px;
    margin-bottom: 150px;
    border-radius: 35px;
    background-color: rgb(245, 169, 29);
    box-shadow: 0px 0px 25px 1px rgb(5, 5, 5);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.card4 .cardtitle {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #0c0908;
    color: white;
    color: #0c0908;
    border-radius: 30px 30px 0px 0px;
}

.card4 .card-content {
    display: flex;
    flex-direction: column;
}

.card4 .card-legend {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 15px;
    background-color: #0c0908;
    width: 480px;
    height: 170px;
    border-radius: 0px 0px 35px 35px;
    color: white;
    text-align: center;
}

.card4 img {
    width: 650px;
}


/*principal*/

/*footer*/

/*footer*/




