/*Imports*/
@import url('https://fonts.googleapis.com/css2?family=Bevan:ital@0;1&family=Inter:wght@100..900&family=Khand:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Khand:wght@300;400;500;600;700&display=swap');

/*Global configs*/
* {
    margin: 0px;
    padding: 0px;
}

body {
    color: white;
    gap: 8px;
    font-family: Inter, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*Cabeçalho*/

header {
    width: 100%;
    background: url(./assets/Design\ sem\ nome\ \(3\).png);
    background-repeat: no-repeat;
    background-size: cover;
}

.navMenu {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 72px;
}

.logo {
    display: flex;
    align-items: center;
    color: white;
    gap: 8px;
}

.logo .title {
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-size: 32px;
    font-weight: normal;
}

.logo img {
    border-radius: 10px;
}

.navMenu .menuOp ul {
    display: flex;
    gap: 34px;
    font-family: 'Khand', Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 18px;
    list-style-type: none;
}

.navMenu .menuOp ul li{
    cursor: pointer;
}

/*Painel*/
.viewPanel{
    height: 600px;
    display: flex;
    flex-direction: row;
    padding-left: 76px;
    font-family: 'Bevan', Arial, Helvetica, sans-serif;
}

.viewPanel img {
    position: absolute;
    top: 7.75em;
    right: 6.63em;
}

.panelTitle {
    display: flex;
    flex-direction: column;
    margin-right: 120px;
}

.panelTitle h1{
    padding-top: 86px;
    font-size: 116px;
}

.panelTitle p {
    margin-top: -50px;
    font-size: 46px;
}

.panelTitle button {
    margin-top: 30px;
    width: 30%;
    height: 8%;
    border: none;
    background-color: #F8D147;
    font-family: 'Bevan', Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
    border-radius: 28px;
}

/*Conteúdo principal*/

main {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 700px;
}

main .cards {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 24px;
}

/*card Content*/
.card {
    cursor: pointer;
}

.cards article{
    font-family: 'Khand', Arial, Helvetica, sans-serif;
    padding: 33px 40px;
    position: absolute;
    font-weight: normal;
}

.cards article p{
    font-size: 18px;
}

.cards article h1{
    font-size: 32px;
}

.cards .otherCards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: fit-content;
}



